<div class='grid-container'>
  {{admin-panel-header}}
  <nav id='home-nav'>
    <div class='nav-flex-container'>
      <ul>
        <li>{{#link-to "forums"}}Forum{{/link-to}}</li>
        <li>{{#link-to "home.staff"}}Staff{{/link-to}}</li>
        <li>{{sign-in-or-logout-link}}</li>
      </ul>
      <div>
        {{#link-to "index"}}<span><strong>Medieval</strong> Lords</span>{{/link-to}}
      </div>
      <ul>
        <li>{{search-user}}</li>
      </ul>
    </div>
  </nav>
  {{sign-in-form}}
  {{outlet}}
</div>
