<div class='grid-container'>
  {{admin-panel-header}}
  <nav id='home-nav'>
    <div class='nav-flex-container'>
      <ul>
        <li>{{#link-to "forums"}}<i class="fa fa-server" aria-hidden="true"></i> Forums{{/link-to}}</li>
        <li>{{#link-to "home.staff"}}<i class="fa fa-users" aria-hidden="true"></i> Staff{{/link-to}}</li>
        <li><a target="_blank" href='http://playminecraft.buycraft.net/'><i class="fas fa-cart-arrow-down" aria-hidden="true"></i> Store</a></li>
      </ul>
      <div>
        {{#link-to "index"}}<span><strong>Medieval</strong> Lords</span>{{/link-to}}
      </div>
      <ul>
        <li>{{search-user}}</li>
        <li>{{sign-in-or-logout-link}}</li>
      </ul>
    </div>
  </nav>
  {{sign-in-form}}
  {{outlet}}
</div>
