<div class='home-header'>
    <div class='home-header-wrapper' style="z-index: 96">
        <img class='home-image' src='assets/images/forum_background.png'>
    </div>
    <div class='home-header-wrapper' style="z-index: 97">
        <h1 class='layered-picture'>Forums</h1>
    </div>
</div>

<div id='news-header-padding' class='main-centered-container'>
    <table class='forum-box'>
        <thead>
            <tr>
                <th style='float: left; width: 60%;'><div style='text-align: left'>Medieval Lords Minecraft Server</div></th>
                <th><div>Statistics</div></th>
                <th><div>Lastest Post</div></th>
            </tr>
        </thead>
        <tbody>
            {{forum-category category_name='Annoucements'
            blurt='Important information regarding the server.' }}
            {{forum-category category_name='Community Suggestions'
            blurt='A place to organize and discuss community input.' }}
            {{forum-category category_name='Development Updates'
            blurt='Information about upcoming new features.' }}
        </tbody>
    </table>

    <table class='forum-box'>
        <thead>
            <tr>
                <th style='float: left; width: 60% !important;'><div style='text-align: left'>Server Discussion</div></th>
                <th><div>Statistics</div></th>
                <th><div>Lastest Post</div></th>
            </tr>
        </thead>
        <tbody>
            {{forum-category category_name='General Discussion'
            blurt='Discuss anything related to Medieval Lords here.' }}
        </tbody>
    </table>
</div>
{{outlet}}