<tr>
    <td style='text-align: left; max-width: 300px;'>
        <div class='forum-padding'>
            <div class='forum-container' style='margin: 0px 12px;'>
                <img id='forum-logo-box' src='assets/images/full_logo.png'/ style='padding-top: 8px;'>
            </div>
            <div class='forum-container'>
                <h2>{{#link-to "home.forums-listings" category_name 1}}{{category_name}}{{/link-to}}</h2>
                <p>{{blurt}}</p>
            </div>
        </div>
    </td>
    <td>
        <div class='forum-padding special-centering' style='max-width: 200px;'>
            <p><i class="far fa-comment"></i> {{data.threads}} Threads</p>
            <p><i class="far fa-comments"></i> {{data.posts}} Posts</p>
        </div>
    </td>
    <td>
        <div class='forum-padding' style='max-width: 150px;'>
            {{#if data.last_thread_by_uuid}}
                <p class='thread-name'>{{#link-to "home.forum-thread" category_name data.last_thread_uuid}}{{data.last_thread}}{{/link-to}}</p>
                <p class='thread-support'>{{#if data.last_thread_by}}by {{#link-to 'profile' data.last_thread_by_uuid}}{{data.last_thread_by}}{{/link-to}}{{/if}}</p>
            {{else}}
                <p class='thread-name'>{{data.last_thread}}</p>
            {{/if}}
        </div>
    </td>
</tr>
{{yield}}