<tr>
    <td style='text-align: left; max-width: 300px;'>
        <div class='forum-padding'>
            <div class='forum-container' style='margin-left: 12px;'>
                <img id='forum-logo-box' src='assets/images/full_logo.png'/ style='padding-top: 8px;'>
            </div>
            <div class='forum-container'>
                <h2><a>{{category_name}}</a></h2>
                <p>{{blurt}}</p>
            </div>
        </div>
    </td>
    <td>
        <div class='forum-padding special-centering' style='max-width: 200px;'>
            <p><i class="far fa-comment"></i> {{data.threads}} Threads</p>
            <p><i class="far fa-comments"></i> {{data.posts}} Posts</p>
        </div>
    </td>
    <td>
        <div class='forum-padding' style='max-width: 150px;'>
            <p class='thread-name'>{{data.last_thread}}</p>
            <p class='thread-support'>{{#if data.last_thread_by}}by {{data.last_thread_by}}{{/if}}</p>
        </div>
    </td>
</tr>
{{yield}}