<div class='forums-post-wrapper'>
    {{#if data.title}}<div class='forum-post-title'>{{data.title}}</div>{{/if}}
    <div class='forum-post-content-wrapper'>
        
        <div class='forum-post-body'><span>{{{data.body}}}</span></div>
        <div class='forum-post-data'>{{data.author}} on {{data.datetime}}</div>
    </div>
</div>

{{yield}}