<div class='news-content-wrapper'>
    <div class='news-header'>{{data.title}}</div>
    <div class='news-info'>Posted by {{data.author}} on {{data.datetime}}</div>
    <div class='news-content'>{{data.body}}</div>
</div>

{{#link-to "home.view-news" data.uuid}}<button class='news-view-full-button'>View Full</button>{{/link-to}}

{{yield}}