<div class='news-content-wrapper'>
    <div class='news-header'>{{data.title}}</div>
    <div class='news-info'>Posted by {{data.author}} on {{data.datetime}}</div>
    <div class='news-content'>{{data.body}}</div>
</div>
<button class='news-view-full-button' {{action "toPost"}}>View Full</button>

{{yield}}