{{#if session.isAuthenticated}}
    {{#if thread}}
    <div class='create-news-post-wrapper'>
        <div class='create-news-post-heading'>Create a thread</div>
        <form {{action 'postToCategory' category on='submit'}}>
            <label>Title</label>
            {{input value=thread_title}}
            {{textarea value=thread_body}}
            <button type='submit'>Create Thread</button>
            {{#if errorMessage}}
                <p class='error'>{{errorMessage}}</p>
            {{/if}}
        </form>
    </div>
    {{/if}}
    {{#if post}}
    <div class='create-news-post-wrapper'>
        <form {{action 'postToThread' category thread_uuid on='submit'}}>
            {{textarea value=post_body}}
            <button type='submit'>Post Reply</button>
            {{#if errorMessage}}
                <p class='error'>{{errorMessage}}</p>
            {{/if}}
        </form>
    </div>
    {{/if}}
{{/if}}
{{yield}}