<form {{action 'register' on='submit'}}>
    {{input id='passwdd' placeholder='Create a password' type='password' value=passwd}}
    {{input id='passwd2' placeholder='Confirm password' type='password' value=passwd2}}
    <button type="submit">Register</button>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</form>
 
{{yield}}