<div id='sign-in-paper'>
    <form class='sign-in-form' {{action 'sign_in' on='submit'}}>
    {{input id='username' placeholder='Username' value=username}}
    {{input id='passwd' placeholder='Password' type='password' value=passwd}}
    <div class='button-wrapper'>
        <button id='button' type="submit">Sign in</button>
        {{#link-to 'register'}}<button id='button'>Register</button>{{/link-to}}
    </div>
    </form>
    {{#if errorMessage}}
        <span class='error'>{{errorMessage}}</span>
    {{/if}}
</div>


{{yield}}