<form {{action 'sign_in' on='submit'}}>
        {{input id='username' placeholder='Username' value=username}}
        {{input id='passwd' placeholder='Password' type='password' value=passwd}}
        <button type="submit">Sign in</button>
        {{#if errorMessage}}
            <p>{{errorMessage}}</p>
        {{/if}}
</form>

{{yield}}