<a href="/profile/{{unbound data.uuid}}">
    <img src="https://visage.surgeplay.com/face/64/{{unbound data.uuid}}"/>
    <div class='center-vert slim-profile-{{unbound data.rank}}'>{{data.rank}}</div><div class='center-vert slim-profile-nametag'>{{data.username}}</div>
</a>
{{yield}}