<div class='staff-table'>
    <div class='staff-inline-wrapper staff-name-text'>
        <img src="https://visage.surgeplay.com/face/64/{{unbound data.uuid}}"/>
        <div>{{#link-to "profile" data.uuid }}{{data.username}}{{/link-to}}</div>
    </div>
    <div class='staff-rank-display-{{unbound data.rank}}'>{{data.rank}}</div>
</div>

{{yield}}