<h2>Create A News Post</h2>
<form {{action 'post_news' on='submit'}}>
    <label>Title</label>
    {{input value=model.title}}
    <label for='body'>Description</label>
    {{textarea value=model.body}}
    <button type='submit'>Post</button>
    {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
    {{/if}}
</form>

{{outlet}}