<div id='news-header-padding' class='main-centered-container'>
    {{#if model}}
        <table class='forum-box'>
            <thead>
                <tr>
                    <th style='float: left; width: 60%;'><div style='text-align: left'>{{model.category}}</div></th>
                    <th><div>Statistics</div></th>
                    <th><div>Lastest Post</div></th>
                </tr>
            </thead>
            <tbody>
                {{forum-thread-listing data=model.model.post_data category=model.category page=model.page}}
            </tbody>
        </table>
        <ul class='pager'>
        {{#if model.prev}}
            {{#link-to "home.forums-listings" model.category model.prev class="page-button" }}Previous{{/link-to}}
        {{else}}
            <a class='null-page-button'>Previous</a>
        {{/if}}
            {{forum-status-bar category=model.category}}
        {{#if model.next}}
            {{#link-to "home.forums-listings" model.category model.next class="page-button" }}Next{{/link-to}}
        {{else}}
            <a class='null-page-button'>Next</a>
        {{/if}}
    </ul>
    {{else}}
        <h2>No forum threads have been created yet!</h2>
    {{/if}}
</div>
{{outlet}}